.tabs {
  min-width: 100%;
}

.tabsHeader {
  width: min-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--theme-background);
  border-radius: 8px;
  box-shadow: var(--theme-area-box-shadow-inset);
}

.tabsHeader > .tabToggle {
  padding: 4px 12px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  margin: 4px;
  border-radius: 4px;
}

.tabsHeader > .tabToggle.active {
  background: white;
}

.tabs > .tabsContent {
  overflow: hidden;
}

.tabs > .tabsContent > .tabsElement {
  width: 100%;
}
