.date_filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.date_filters .entry {
  display: flex;
  align-items: center;
  gap: 5px;
}

.date_filters .entry label {
  min-width: 5ch;
}

.date_filters .entry input {
  outline: none !important;
}

.chartFlexContent {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.chartFlexContent .chart {
  flex: 1;
}

.chartFlexContent .table {
  position: relative;
  border-left: 1px solid var(--color-oyster-bay);
  width: 0;
  transition: width 0.3s ease-out;
}

.chartFlexContent .table.opened {
  width: 33%;
}

.chartFlexContent .table .toggle {
  position: absolute;
  height: 42px;
  width: 100px;
  right: 100%;
  border-radius: 0;
  border: 1px solid var(--color-oyster-bay);
  border-right: 0;
  background: transparent;
}
